@mixin mint-card-bg {
  background: var(--primary-very-low);

  @media (prefers-color-scheme: light) {
    background: var(--header_background);
  }
}

:root {
  --mint-border-radius: 10px;
  --mint-hover-shadow: 4px 4px var(--tertiary-high);
  --mint-color-mint: #26bbff;
  --mint-color-blue: #e5f8ff;
}

$color-square-gradient: linear-gradient(
  4deg,
  rgba(64, 64, 68, 1) 55%,
  rgba(38, 187, 255, 1) 100%
);
$color-square-webkit-gradient: -webkit-linear-gradient(
  4deg,
  rgba(64, 64, 68, 1) 55%,
  rgba(38, 187, 255, 1) 100%
);
